
header {
    background-color: rgb(26, 26, 53);
    min-height: 50px;
}


#jumbotron {
    background-color: rgb(31, 134, 95);
    min-height: 150px;
    margin-bottom: 25px;
}



/* .portfolio h2 {
    color: brown;
    line-height: 100px;
    font-size: 2em;
} */

.activiti [class^="col-"] {
    background-color: cadetblue;
    min-height: 40px;
}

.portfolio-img img{  
    height: 250px;
    background-size: contain;
    margin-bottom: 15px;
    border-radius: 10px;
}

.about{
    background-color: rgb(31, 134, 95);
   padding: 25px 0;
    margin-bottom: 25px;
}

.contact .form{
    background-color: coral;
    min-height: 150px;
}

footer{
    min-height: 200px;
}

.fot{
    background-color: darkkhaki;
    min-height: 200px;
    border: 1px solid black;
    padding: 0 20px;
}