header  [class^="col-"] {
    background-color: rgb(26, 26, 53);
    height: 50px;
}

.start-bootstrap  [class^="col-"] {
    background-color: rgb(31, 134, 95);
    height: 150px;
}

.portfolio [class^="col-"] {
    background-color: rgb(159, 241, 210);
    height: 100px;
    text-align: center;
}

.portfolio h2 {
    color: brown;
    line-height: 100px;
    font-size: 2em;
}

.activiti [class^="col-"] {
    background-color: cadetblue;
    height: 40px;
}